<div>
  <%= @game.player_1.name %> attacked <%= @game.player_2.name %>
  <%= @game.player_2.name %> has <%= @game.player_2.hitpoints %>hp.
  It's <%= @game.player_2.name %>'s turn to attack
  <a href="/attack">attack</a>
</div>
