<div>
  <%= @game.opponent_of(@game.current_turn).name %> attacked <%= @game.current_turn.name %><br>
  <%= @game.current_turn.name %> has <%= @game.current_turn.hitpoints %>hp.<br>
  It's <%= @game.current_turn.name %>'s turn to attack<br>
  <a href="/attack">attack</a>
</div>
