<div>
  <%= @game.current_turn.name %> vs. <%= @game.opponent_of(@game.player_1).name %><br>
  <%= @game.opponent_of(@game.player_1).name %> has <%= @game.opponent_of(@game.player_1).hitpoints%>hp<br>
  It's <%= @game.current_turn.name %>'s turn to attack<br>
  <a href="/attack">attack</a>
</div>
